.card{
  border: 1px solid #ccc;
  width: 300px;
  border-radius: 5px;
  display: block;
  margin: 10px auto;
  background-color: #fff;
}

.card-img{
  width: 250px;
  display: block;
  margin: 10px auto;
  
}

.card-title{
  text-align: center;

}